/* Custom CSS for C Code Blocks in Obsidian */

/* General Styling for All Code Blocks */
.cm-s-obsidian pre.HyperMD-codeblock {
    background-color: #0; /* Dark background for code blocks */
    color: #282c34; /* Light grey text for better contrast */
    border-left: 3px solid #009688; /* Stylish left border */
    padding: 10px;
    border-radius: 5px;
    font-family: Comic Mono, monospace; /* Monospaced font for code */
    font-size: 0.9em;
    overflow-x: auto; /* Ensures code is scrollable horizontally */
}

/* Specific Highlighting for C Syntax in Light Version with Bold Font */
/* You can modify or add more based on specific syntax elements you want to highlight */
.cm-s-obsidian .cm-keyword {
    color: #4078f2; /* Softer blue for keywords like int, return, etc. */
    font-weight: bold;
}

.cm-s-obsidian .cm-meta {
    color: #c678dd;
    font-weight: bold;
}

.cm-s-obsidian .cm-builtin {
    color: #61afef;
    /* font-weight: bold; */
}

.cm-s-obsidian .cm-string {
    color: #d19a66; /* Soft orange for strings */
    /* font-weight: bold; */
}

.cm-s-obsidian .cm-number {
    color: #e06c75;
    /* font-weight: bold; */
}

.cm-s-obsidian .cm-comment {
    color: #7fbe79;
    font-style: italic;
    font-weight: bold; /* If you prefer bold comments */
}
