.theme-light {
.theme-light {
    --background-nav-alt: #3a3e3f;
    --background-nav-file-tag: #ff9f9b;
    --background-nav-selected: #ff9f9b;
    --background-nav: #292c2e;
    --graph-circle: #ff7b7b;      /* Pastel Red */
    --graph-line: #dddddd;        /* Light Gray */
    --graph-bg: #f8f8f8;          /* Off-White */
    --graph-text: #b0b0b0;        /* Pastel Gray */
    --graphtag: #c4f2a7;          /* Light Pastel Green */
    --graph-attach: #a5e8ff;       /* Light Pastel Blue */
    --graph-unresolved: #b3b7b3;   /* Pastel Grayish Blue */
    --checklist-done-decoration: none;
}  


/* ======= ## Global graph  ==============*/

.graph-view.color-fill {
  color: var(--graph-circle);
}

.graph-view.color-circle {
  color: var(--graph-circle);
}

.graph-view.color-line {
  color: var(--graph-line);
}

.graph-view.color-text {
  color: var(--graph-text);
}

.graph-view.color-fill-highlight {
  color: var(--interactive-accent);
}
.graph-view.color-line-highlight {
  color: rgb(var(--interactive-accent-rgb));
}

.graph-view.color-fill-tag {
  color: var(--graphtag) !important;
}
.graph-view.color-fill-attachment {
  color: var(--graph-attach) !important;
}
.graph-view.color-fill-unresolved {
  color: var(--graph-unresolved);
  opacity: 1;
}
.graph-view.color-arrow {
  color: var(--graph-line);
  opacity: 1;
}
.graph-controls {
  position: absolute;
  left: 6px;
  top: 6px;
  padding: 2px 10px 8px 0px;
  background-color: var(--background-primary-alt);
  min-width: 100px;
  max-width: 240px;
  border: 1px solid var(--background-modifier-border);
  border-radius: 0px;
  max-height: calc(100% - 16px);
  overflow: auto;
}
.graph-controls-button.mod-close svg,
.graph-controls-button.mod-reset svg {
  width:12px;
  height:12px;
}
.graph-controls-button.mod-open svg {
  width:14px;
  height:14px;
}
.graph-controls.is-close {
  min-width: inherit;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 6px 8px 2px 8px;
}
.graph-controls.is-close svg {
  color:var(--text-muted);
}
.collapsible-item-children {
  margin-left: 8px;
}
.graph-controls input[type='text'],
.graph-controls input[type='range'] {
  width: 100%;
  font-size: 0.65rem;
}
.graph-controls .setting-item {
  padding: 7px 0;
}
.graph-controls .setting-item.mod-slider .setting-item-control,
.graph-controls .setting-item.mod-search-setting .setting-item-control {
  padding-top: 0px;
}
.graph-controls .setting-item.mod-toggle .setting-item-control {
  padding-top: 0;
  margin-top: 0px;
}
.graph-controls .setting-item-name {
  font-size: 0.75rem;
  color: var(--text-muted);
  display: inline-block;
}
.setting-item-description {
  color: var(--text-muted);
  font-size: 0.75rem;
}
.setting-item {
  border-top: none;
  color: var(--text-muted);
}
.graph-controls .collapsible-item-children {
  margin-top: 0px;
}
.graph-control-section-header {
  font-weight: 600;
  font-size: 0.75rem;
  color: var(--text-normal-original);
}
.graph-control-section:not(:last-child) .collapsible-item-children {
  margin-top: 0px;
  margin-bottom: 2px;
  border-bottom: none;
}
.graph-controls .setting-item {
  padding: 0px 0 0px 0;
}
.graph-controls input[type='range'] {
  -webkit-appearance: none;
  background-color: var(--background-modifier-border);
  border-radius: 2px;
  height: 2px;
}
.graph-controls input[type='range']::-webkit-slider-thumb {
  width: 13px;
  height: 9px;
  border-radius: 20%;
  border-left: 4px solid var(--text-accent2);
  cursor: pointer;
  top: -2px;
}
.graph-controls .checkbox-container {
  cursor: pointer;
  background-color: var(--text-faint);
  border-radius: 3px;
  display: inline-block;
  height: 12px;
  position: relative;
  top: 6px;
  user-select: none;
  width: 26px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.15);
  transition: background 0.15s ease-in-out, box-shadow 0.15s ease-in-out, border 0.15s ease-in-out, opacity 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}
.graph-controls .checkbox-container.is-enabled {
  background-color: var(--interactive-accent);
}
.graph-controls .checkbox-container:after {
  pointer-events: none;
  content: '';
  display: block;
  position: absolute;
  background-color: var(--text-on-accent);
  width: 12px;
  height: 10px;
  margin: 1px 2px 1px 3px;
  border-radius: 2px;
  transition: transform 0.15s ease-in-out, width 0.1s ease-in-out, left 0.1s ease-in-out, -webkit-transform 0.15s ease-in-out;
  left: -4px;
  transform: translate3d(3px, 0, 0);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.15);
}
.graph-controls .checkbox-container.is-enabled:after {
  transform: translate3d(14px, 0, 0);
}
.view-content > iframe {
  background-color: var(--graph-bg);
}
